<div class="row">

  <%= render 'sidebar' %>

  <div class="col-md-4">
    <%= link_to "Add a new Kick", new_kick_path, :class => "btn btn-info btn-block", id: "newId" %>

    <div class="table-responsive">
      <table class="table table-hover">
        <% @kicks.each do |kick| %>

            <tr>
              <td><%= link_to kick.title, kick_path(kick), :class => "btn btn-primary btn-xs btn-block" %></td>
              <td><%= kick.description %></td>
              <td><%= kick.time %></td>
              <td><%= kick.location %></td>
              <td>Posted <%= time_ago_in_words(kick.created_at) %> ago</td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

   <%= render 'mapbox' %>
</div>

