<div class="kick-show">
    <div class="row"  style="background-image: url(
            <% if @kick.avatar_content_type  %>
            <%= @kick.avatar.url(:large)  %>
            <% else %>
            <%= @kick.filepicker_url %>
            <% end %>
            )">
        <div class="col-lg-8">
            <div class="party">
                <div class="pull-left" href="#">
                    <div class="imageContainer">
                        <% if @kick.filepicker_avatar_url %>
                            <%= filepicker_image_tag @kick.filepicker_avatar_url, w: 110, h: 110, fit: 'clip', class: 'pic img-rounded img-responsive' %>

                        <!--<#% elsif @kick.avatar_file_size != 'nil' %>-->
                            <!--<#%= image_tag @kick.user_avatar.url(:thumb), :class => "pic img-rounded img-responsive"   %>-->
                        <% else %>
                            <img src="/assets/default.jpg">
                        <% end %>
                    </div>

                </div>
                <div class="party-body" >
                    <h1><%= @kick.title  %></h1>
                    <blockquote> - posted by <%= @kick.username  %></blockquote>
                    <h3><%= @kick.description  %><small> <i id="time" title="<%= @kick.time %>" class="fa fa-clock-o"></i><%= @kick.time %>  | <%= @kick.location  %></small></h3>
                    <br>
                    <a  class="btn btn-hg btn-primary btn-inverse"><%= @kick.scale  %></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<% if @kick.username == current_user.permalink %>
    <%= link_to "This looks like your kick. Edit it?", edit_kick_path(@kick.id), class: "btn btn-warning btn-wide pull-right" %>
<% end %>

<%= javascript_tag do %>
    window.kickURL = '<%= j kick_url %>'
<% end %>