<blockquote>
  <h2>Description: </h2>
  <p><%= @kick.title  %></p>
  <p><%= @kick.description  %></p>
  <p><%= @kick.time  %></p>
  <p><%= @kick.location  %></p>
  <p><%= @kick.scale  %></p>
</blockquote>


<% if @user == @kick.username %>
    <%= link_to "edit this kick", edit_kick_path(@kick) %>
<% end %>