<h1>Edit Profile </h1>

<% if @user.filepicker_url != ""  %>
    <%= filepicker_image_tag @user.filepicker_url, w: 110, h: 110, fit: 'clip', class: "img-rounded img-responsive" %>
    <% else %>
        <img src="/assets/default.jpg">
    <% end %>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this location from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <br>

    <div>
          <%= f.label :filepicker_url, "Upload a photo from the cloud:  " %>
          <%= f.filepicker_field :filepicker_url,
                                 :'data-fp-apikey' => 'ARSPEML9RTdartRlwYl8hz', :'data-fp-container' => 'modal',
                                 :'data-fp-mimetypes' => '*/*', :'data-fp-services' => 'COMPUTER,IMAGE_SEARCH,DROPBOX,FACEBOOK,GITHUB,GOOGLE_DRIVE,FLICKR,GMAIL,INSTAGRAM,PICASA',
                                 class: "btn btn-default", onchange:"pick(event)"%>

    </div>

      <br>

    <div id="slider1" class="ui-slider"></div>
    <p>
        <label for="talklevels-label"></label>
        <%= f.text_field :loudness, class: "form-control", :id => "levels1", :style => "border: 0; color: #f6931f; font-weight: bold;"  %>
    </p>

    <div id="slider2" class="ui-slider"></div>
    <p>
        <label for="talklevels-label"></label>
        <%= f.text_field :smartness, class: "form-control",:id => "levels2", :style => "border: 0; color: #f6931f; font-weight: bold;"  %>
    </p>

    <div id="slider3" class="ui-slider"></div>
    <p>
        <label for="talklevels-label"></label>
        <%= f.text_field :drunkness, class: "form-control", :id => "levels3", :style => "border: 0; color: #f6931f; font-weight: bold;"  %>

    </p>

    <br>
    <div><%= f.submit "Update", :class => "btn btn-inverse" , :id => "save-profile"%></div>
<% end %>



