<%= @user.drunkness %>
<br>
<%= @user.smartness %>
<br>
<%= @user.loudness %>
<br>

<div class="users-kicks">
  <h2><%= @user.permalink %>'s kicks</h2>
  <ul style="list-style: none">
    <% @user.kicks.each do |kick| %>

        <li><i class="fa fa-beer"> &nbsp; <%= link_to kick.title, kick_path(kick.id) %></i></li>

    <% end %>
  </ul>
</div>

