<h1><%= @profile.user_id %></h1>

<div><%= @profile.smartness %></div>
<div><%= @profile.drunkness %></div>
<div><%= @profile.loudness %></div>

<br>

<div class="users-kicks">
  <h2><%= @profile.permalink %>'s kicks</h2>
  <ul style="list-style: none">
    <% @user.kicks.each do |kick| %>

        <li><i class="fa fa-beer"> &nbsp; <%= link_to kick.title, kick_path(kick.id) %></i></li>

    <% end %>
  </ul>
</div>