<!DOCTYPE html>
<html>
<head>
  <title>KickinIt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Kickin It", root_path, class:"navbar-brand"  %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
