<!DOCTYPE html>
<html>
<head>
  <title>KickinIt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <script type="text/javascript">
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(a){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(a),window.analytics.push(t),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(a){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+a+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},window.analytics.SNIPPET_VERSION="2.0.6",
                window.analytics.load("5unr760m9i"),
                window.analytics.page();
    </script>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Kickin It", root_path, class:"navbar-brand"  %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><a href="#"><%= current_user.email %></a></li>
          <li><%=link_to "Account", edit_user_registration_path %></li>
          <li> <a href="#" data-toggle="modal" data-target="#signout-modal">Sign out</a> </li>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container" style="position: relative;
        left: -16px;">


  <div class="modal fade" id="signout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Do you really want to sign out?</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <%= link_to "Sign out", destroy_user_session_path, :id => "butt", :class => "btn btn-primary btn-large", method: :delete, :data => {:target => '#signout-modal', :toggle => 'modal'}%>
        </div>
      </div>
    </div>
  </div>


  <!--TODO -- check script loading-->


  <%= yield %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <%= javascript_tag do %>
        window.currentTime = ('<%= j Time.now.strftime("%Y-%m-%d %H:%M:%S") %>');
    <% end %>
    <%= filepicker_js_include_tag %>

</div>



</body>
</html>
